@import url('bootstrap.min.css');
@import url('hover.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500|Raleway:400,400i,500,500i,600,700,700i');

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

h1 {
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.box {
  margin-top: 5px;
  padding: 10px;
  height: 200px;
  width: 100%;
  background-color: #e1e1e1;
  color: black;
  border-radius: 2px;
  text-align: left;
}

.text-muted {
  margin: 20px 0;
}

.text-muted a, a:hover {
  color: #777;
}

.flex {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.dark {
  color: white;
}

.dark a, a:hover {
  color: lightgrey;
}

#color {
  width: 100%;
  height: 100%;
  background-color: rgba(216,111,0,.7);
}

#cinci {
  background-image: url("/assets/images/skyline-2.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 100%;
}

#faq, #partners, #about, #register {
  padding-top: 50px;
  overflow: hidden;
}

#faq {
  font-size: 120%;
  padding-bottom: 10px;
}

#faq .row {
  padding: 0 30px;
}

#partners {
  min-height: 60vh;
  background-color: #D86F00;
}

#about {
  min-height: 20vh;
  background-color: gray;
}

#register {
  height: 30vh;
  background-color: black;
}
