html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  color: #3F3F37;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.footer-dark {
  background-color: #4B4B4B;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 0 !important;
}

.navbar {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: transparent;
  border: 0;
}

.navbar a {
  color: white !important;
}

.navbar li, .navbar-brand {
  font-weight: 600;
}

.scrolled {
  background: inherit;
}

.scrolled a {
  line-height: inherit;
  color: inherit !important;
}

.scrolled li {
  font-weight: inherit;
}

.active a {
  background-color: inherit !important;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.active a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E32C40;
  height: 4px;
}

.container-fluid {
  padding: 0;
}

.box {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 25px;
  width: 100%;
  background-color: #E32C40;
  color: white;
  text-align: left;
  cursor:pointer;
}

.box p {
  padding-top: 5px;
  margin: 0;
}

.box h3 {
  text-align: left;
  margin: 0;
  color: white;
  font-style: none;
}

.text-muted {
  margin: 20px 0;
}

.text-muted a, .text-muted a:hover {
  color: #777;
  text-decoration: underline;
}

.flex {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.dark {
  color: white;
}

.dark a, .dark a:hover {
  color: #D0CFCD;
}

.focused, .focused a, .focused a:hover {
  color: white !important;
  background-color: #E32C40;
}

.button {
  text-decoration: none !important;
  margin: .4em;
  padding: .7em;
  font-size: 130%;
  background: #e1e1e1;
  color: #666 !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button-red {
  background: #E32C40;
  color: white !important;
}

.button-small {
  font-size: 90%;
}

.sponsor {
  width: 100%;
}

#color {
  width: 100%;
  height: 100%;
  background-color: rgba(227, 44, 64, .08);
  color: white;
}

#color-solid {
  background-color: rgb(227, 44, 64);
  color: white;
}

#thx {
  background-image: url("/assets/images/skyline-alt.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 40vh;
}

#cincy {
  background-image: url("/assets/images/skyline-bw.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 100%;
}

#cincy h1 {
  font-weight: 600 !important;
}


#cincy-alt {
  background-image: url("/assets/images/bridge-alt.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  background-filter: grayscale(1);
  height: 100%;
}

#cincy-alt h1 {
  font-weight: 600 !important;
}

#about, #sponsors, #team, #schedule, #register, #thanks {
  padding-top: 52px;
  padding-bottom: 52px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

#about {
  font-size: 120%;
  padding-bottom: 50px;
  background-color: #4B4B4B;
}

#about .row {
  padding: 0 30px;
}

#about .fa {
  padding-right: 5px;
}

#sponsors {
  background-color: white;
}

#team {
  min-height: 20vh;
  background-color: #E32C40;
}

#schedule {
  font-size: 120%;
  min-height: 20vh;
  background-color: #E32C40;
}

#team a, #team a:hover {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}

#team h4, h5 {
  font-family: "Raleway", sans-serif;
}

#team .fa {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 150%;
}

#register {
  background-color: #4B4B4B;
}

#register p {
  margin-bottom: 0;
}

#thanks {
  background-color: #4B4B4B;
}

#mlh-trust-badge {
  display:absolute;
  max-width:100px;
  min-width:70px;
  position:absolute;
  right:50px;
  top:100vh;
  width:10%;
}

@media (max-width:767px) {
  .navbar {
    background: inherit;
  }

  .navbar li, .navbar-brand {
    font-weight: inherit !important;
  }
  .navbar a {
    color: inherit !important;
  }

  #mlh-trust-badge {
    top:50px;
  }
}
